* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: Quarion;
    src: url('../fonts/Quarion-Book.woff');
  }
  img {
    object-fit: cover;
    object-position: center;
  }
  
  a:hover {
    text-decoration: none; 
    color: #3a3b3e;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
  }
  
  li {
    list-style-type: none;
  }
  
  section {
    padding-top: 50px;
  }
  
  button {
    border: none;
  }
  
  button:focus,
  button:active,
  .owl-prev:active,
  .owl-next:active,
  button:hover,
  i:hover,
  span:hover {
    outline: none;
  }
  .owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: transparent;
}
  .container {
    max-width: 1840px;
  }